<p>こんにちは、<%= @user.name %>さん</p>

<p>パスワードリセットのリクエストを受け付けました。以下のリンクをクリックしてパスワードをリセットしてください:</p>

<p><%= link_to 'パスワードをリセット', password_reset_edit_path(token: @token) %></p>

<p>このリンクは15分間有効です。</p>

<p>もしこのリクエストに覚えがない場合は、このメールを無視してください。</p>

<p>ありがとうございます。</p>
