<p><%= @user.name %>様</p>
<p>
  パスワードリセット申請ありがとございます。<br>
  下のリンクをクリックして、新しいパスワードを設定してください。
  ※パスワードリセットは、メール受信後から「15分以内」です。
</p>
<p><%= link_to "パスワードをリセットする", password_reset_edit_url(token: @token) %></p>
