<div class="blogs-main">
  <div class="blogs-top-message">
    <h2>～広告掲載予定～</h2>
  </div>
  <div class="blogs-contents">
    <div class="contents-right">
      <div class="contents-up">
        <h2>注目記事</h2>
        <div class="new-blogs">
          <ul>
            <% @blogs.each do |blog| %>
              <li><%= link_to(blog.title, "/blogs/#{blog.id}") %></li>
            <% end %>
          </ul>
        </div>
      </div>
      <div class="contents-down">
        <h2>カテゴリー</h2>
        <div class="category">
          <p><a></a></p>
          <p><a></a></p>
          <p><a></a></p>
          <p><a></a></p>
          <p><a></a></p>
        </div>
      </div>
    </div>
    <div class="main-contents">
      <% @blogs.each do |blog| %>
        <div class="blogs-index-item">
          <div class="blog-title">
            <%= link_to(blog.title, "/blogs/#{blog.id}") %>
          </div>
          <div class="blog-image">
            <img src="<%= "/blog_images/#{blog.image}" %>">
          </div>  
          <%= link_to(blog.content, "/blogs/#{blog.id}") %>
        </div>
      <% end %>
    </div>
  </div>
</div>