<% breadcrumb :blogs %>
<div class="container">
  <h3 class="form-heading">ブログ一覧</h3>
  <% @blogs.each do |blog| %>
    <div class="posts-index-item">
      <div class="blog-title">
        <%= link_to(blog.title, "/blogs/#{blog.id}") %>
      </div>
      <div class="top-user-image">
        <%= image_tag blog.image.url%>
      </div>
      <div class="user-post-datetime">
        <span>投稿日：</span>
        <%= blog. updated_at.strftime("%Y-%m-%d") %>
      </div>
    </div>
  <% end %>
</div>