<div class="blogs-main">
  <div class="blogs-message">
    <h2>初心者向けにフィネスでバスを釣る方法を紹介するブログ</h2>
  </div>
  <div class="blogs-contents">
    <div class="main-contents">
      <div class="contents-title">
      </div>
      <div class="contents-image">
      </div>
      <div class="contents-main">
      </div>
    </div>
    <div class="contents-right">
      <div class="contents-up">
        <h2>注目記事</h2>
      </div>
      <div class="contents-down">
        <h2>カテゴリー</h2>
        <div class="category">
          <p>バス釣り入門</p>
          <p>フィネス入門</p>
          <p>タックル入門</p>
          <p>フィネスルアー入門</p>
          <p>シーズナルパターン入門</p>
        </div>
      </div>
    </div>
  </div>
</div>