<div class="main"> 
  <div class="container">
    <h1 class="form-heading">エリア情報</h1>

    <ul class="tab">
      <li><a href="#kohoku">湖北</a></li>
      <li><a href="#kotou">湖東</a></li>
      <li><a href="#kosai">湖西</a></li>
      <li><a href="#nankotougan">南湖東</a></li>
      <li><a href="#nankoseigan">南湖西</a></li>
    </ul>

    <div id="kohoku" class="area">
      <p>大崎港～マキノ町海津エリア</p>
      <p>二本松～海津大崎エリア</p>
      <p>奥出湾～大浦湾エリア</p>
      <p>菅浦～黒土崎エリア</p>
      <p>塩津浜～月出ワンドエリア</p>
      <p>藤ヶ崎～飯浦～西野の岬エリア</p>
      <p>西野放水路〜野田沼～余呉川エリア</p>
    </div>
    <div id="kotou" class="area">
      <p>丁野木川河口～奥びわスポーツの森エリア</p>
      <p>姉川河口〜長浜エリア</p>
      <p>長浜港周辺エリア</p>
      <p>天野川河口周辺エリア</p>
      <p>彦根ビューホテル～松原スロープエリア</p>
      <p>彦根港～芹川河口エリア</p>
      <p>野田沼～宇曽川～曽根沼エリア</p>
      <p>愛知川河口～大同川河口エリア</p>
      <p>伊崎山～堀切湾エリア</p>
      <p>鯉ヶ崎～猿ヶ崎～水ヶ浜エリア</p>
      <p>長命寺～岡山園地エリア</p>
      <p>家棟川～マイアミ浜エリア</p>
    </div>
    <div id="kosai" class="area">
      <p>知内川河口エリア</p>
      <p>貫川内湖エリア</p>
      <p>石田川河口～今津エリア</p>
      <p>近江今津～木津浜エリア</p>
      <p>外ヶ浜～源氏浜エリア</p>
      <p>安曇川河口デルタ地帯エリア</p>
      <p>金丸川河口～鴨川河口エリア</p>
      <p>大溝漁港～乙女ヶ池エリア</p>
      <p>白髭神社～鵜川河口エリア</p>
      <p>北小松漁港～滝川河口エリア</p>
      <p>近江舞子エリア</p>
      <p>大谷川河口～松の浦～志賀駅エリア</p>
      <p>木戸川～八屋戸川エリア</p>
      <p>蓬莱駅～喜撰川エリア</p>
      <p>喜撰川～和邇浜エリア</p>
      <p>和邇川河口～小野エリア</p>
    </div>
    <div id="nankotougan" class="area">
      <p>マイアミ浜エリア</p>
      <p>野洲川河口北岸エリア</p>
      <p>野洲川河口南岸エリア</p>
      <p>琵琶湖大橋東詰エリア</p>
      <p>琵琶湖大橋東詰～木浜２号水路エリア</p>
      <p>木浜３号水路～５号水路エリア</p>
      <p>赤野井エリア</p>
      <p>鳥丸半島エリア</p>
      <p>下物エリア</p>
      <p>志那エリア</p>
      <p>葉山川河口エリア</p>
      <p>草津川河口～北山田漁港エリア</p>
      <p>北山田エリア</p>
      <p>矢橋帰帆島北エリア</p>
      <p>矢橋帰帆島南エリア</p>
    </div>
    <div id="nankoseigan" class="area">
      <p>琵琶湖大橋西詰エリア</p>
      <p>堅田エリア</p>
      <p>名鉄ワンド～天神川河口エリア</p>
      <p>雄琴川～山ノ下湾エリア</p>
      <p>雄琴エリア</p>
      <p>カネカ工場エリア</p>
      <p>大宮川河口エリア</p>
      <p>井筒エリア</p>
      <p>唐崎エリア</p>
      <p>自衛隊エリア</p>
      <p>柳が崎エリア</p>
      <p>浜大津エリア</p>
      <p>におの浜エリア</p>
      <p>由美浜～プリンス前エリア</p>
      <p>膳所～石山エリア</p>
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin=anonymous"></script>
    <script src="https://coco-factory.jp/ugokuweb/wp-content/themes/ugokuweb/data/5-4-1/js/5-4-1.js"></script>
  </div>
</div>