<% breadcrumb :users %>
<div class="container">
  <h3 class="contents-title">ユーザー一覧</h3>
  <div class="users-index">
    <% @users.each do |user| %>
      <div class="users-index-item">
        <div class="user-left">
          <%= image_tag user.image.url, alt: "ユーザー画像" %>
        </div>
        <div class="user-right">
          <%= link_to(user.name, "/users/#{user.id}") %>
        </div> 
      </div>
    <% end %>
  </div> 
</div> 

<div class="go-home">
  <%= link_to("<ページの上へ戻る>", "#top") %>
</div>