<% breadcrumb :about %>
<div class="container">
  <h3 class="contents-title">Gyotanについて</h3>
  <div class="posts-index-item">
    <h4>琵琶湖でのバス釣り釣果を投稿・共有</h4>
    <br>
    <p>釣果写真について</p>
    <p>・バスのサイズがわかる写真</p>
    <p>・釣れた場所がわかる写真</p>
    <p>・釣れたルアーやワームがわかる写真</p>
    <p>※カメラの位置情報の利用を許可</p>
    <br>
    <p>釣果内容について</p>
    <p>Who:だれが釣ったか</p>
    <p>When:いつ釣れたか</p>
    <p>Where:どこで釣れたか</p>
    <p>What:なにを使ったか</p>
    <p>Why:なぜその場所を選んだか</p>
    <p>How:どのように使ったか</p>
    <br>
    <h4>琵琶湖のバス釣り場情報を提供する</h4>
    <br>
    <p>・北湖北岸エリア</p>
    <p>・北湖東岸エリア</p>
    <p>・北湖西岸エリア</p>
    <p>・南湖東岸エリア</p>
    <p>・南湖西岸エリア</p>
    <br>
    <h4>運営者について</h4>
    <br>
    <p>運営者名：フィネススタイル</p>
    <p>性別:男性</p>
    <p>バス釣り歴:30年ほど</p>
    <p>ホームフィールド:北湖東岸（彦根、長浜）</p>
    <p>好きな釣りスタイル:フィネススタイル（ライトリグ）</p>
    <p>好きなルアーメーカー:DSTYLE</p>
  </div>
</div>

<div class="go-home">
  <%= link_to("<ページの上へ戻る>", "#top") %>
</div>
