<% breadcrumb :about %>
<div class="container">
  <div class="contents-title">Gyotanについて</div>
  <div class="posts-index-item">  
    <p><strong>Gyotan </strong>-琵琶湖バス釣り情報サイト-</p>
    <br>
    <p>〜キーワード〜</p>
    <p>琵琶湖 バス釣り</p>
    <p>琵琶湖 バス釣り 初心者(ポイント)</p>
    <p>琵琶湖 バス釣り ブログ(陸っぱり)</p>
    <p>琵琶湖 バス釣り 釣果(北湖・南湖)</p>
    <p>琵琶湖 バス釣り 大会</p>
    <br>
    <p>〜サイト利用者の悩み〜</p>
    <p>・琵琶湖でバスが釣れない</p>
    <p>・琵琶湖で大きいバスが釣れない</p>
    <p>・琵琶湖でバス釣り場(ポイント)が知りたい</p>
    <br>
    <p>どんなサービス？どんなサイト？</p>
    <p>・琵琶湖バス釣り釣果情報(北湖・南湖)</p>
    <p>・琵琶湖バス釣り大会</p>
    <p>・琵琶湖バス釣り初心者向けポイント情報</p>
    <p>・琵琶湖バス釣り陸っぱりブログ</p>
    <br>
    <p>ペルソナ(サイト利用者はどんな人)</p>
    <p>・30代の男</p>
    <p>・バス釣り初級、中級者</p>
    <p>・陸っぱりアングラー</p>
    <p>・月に0円〜30,000円釣具を購入している</p>
    <p>・週末や休日に琵琶湖でバス釣りをしている</p>
    <p>・釣れなくてデコって帰ることが多い</p>
    <p>・毎回同じポイントで釣りをしてる</p>
    <p>・新しい場所に行っても釣れない</p>
    <p>・前回釣れた場所で次に来ると釣れなくなっている</p>
    <p>・毎回同じルアーを使ってしまう</p>
    <br>
    <p>1.釣果共有</p>
    <p>釣果情報を共有する</p>
    <p>釣果情報を釣り場情報に反映させる</p>
    <br>
    <p>投稿写真</p>
    <p>①バスのサイズがわかる写真</p>
    <p>②釣れた場所がわかる写真</p>
    <p>③釣れたルアーやワームがわかる写真</p>
    <p>※カメラの位置情報の利用を許可</p>
    <br>
    <p>釣果内容</p>
    <p>Who:だれが釣ったか</p>
    <p>When:いつ釣れたか</p>
    <p>Where:どこで釣れたか</p>
    <p>What:なに使ったか</p>
    <p>Why:なぜその場所を選んだか</p>
    <p>How:どのように使ったか</p>
    <br>
    <p>2.琵琶湖バス釣り大会</p>
    <p>有料ユーザー登録者のみ</p>
    <p>(月額会費600円)(年間7,200円)</p>
    <p>琵琶湖で釣れたブラックバスのサイズ(長さ)を競います。</p>
    <p>釣れた場所で釣果を投稿して下さい。</p>
    <p>サイズの測り方</p>
    <p>下顎(口閉じ)から尾っぽまで(お開き)</p>
    <br>
    <p>月間最大サイズ(長さ)</p>
    <p>1位:Amazonギフト券3,000円</p>
    <p>2位:Amazonギフト券2,000円</p>
    <p>3位:Amazonギフト券1,000円</p>
    <br>
    <p>年間最大サイズ(長さ)</p>
    <p>1位:Amazonギフト券10,000円</p>
    <p>2位:Amazonギフト券5,000円</p>
    <p>3位:Amazonギフト券3,000円</p>
    <br>
    <p>3.釣り場情報</p>
    <p>琵琶湖のバス釣り場情報を提供する</p>
    <p>・北湖北岸エリア</p>
    <p>・北湖東岸エリア</p>
    <p>・北湖西岸エリア</p>
    <p>・南湖東岸エリア</p>
    <p>・南湖西岸エリア</p>
    <p>釣果情報を釣り場情報の下に表示</p>
    <br>
    <p>4.ブログ</p>
    <p>初心者向けのバス釣り入門</p>
    <p></p>
    <p>5.YOUTUBE(動画で説明)</p>
    <p>琵琶湖でバスを釣る方法、ポイント情報</p>
  </div>
</div>