<div class="area-main"> 
  <h1>北湖情報</h1>
  <div class="area-map">  
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d175192.17042707565!2d136.15652680373086!3d35.32314771728225!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sja!2sjp!4v1644887980038!5m2!1sja!2sjp" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
  </div>
  <div class="area-info">   
    <ul>
      <li><a href="https://www.google.com/maps/@35.1413114,136.006003,15.75z?hl=ja">①家棟川～マイアミ浜エリア</a></li>
      <li><a href="https://www.google.com/maps/@35.1588022,136.1155102,16z?hl=ja">②西の湖</a></li>
      <li><a>③長命寺～岡山園地</a></li>
      <li><a>④鯉ヶ崎～猿ヶ崎～水ヶ浜エリア</a></li>
      <li><a>⑤伊崎山～堀切湾</a></li>
      <li><a>⑥愛知川河口～大同川河口</a></li>
      <li><a>⑦伊庭内湖</a></li>
      <li><a>⑧野田沼～宇曽川～曽根沼エリア</a></li>
      <li><a>⑨彦根港～芹川河口</a></li>
      <li><a>⑩彦根ビューホテル～松原スロープ</a></li>
      <li><a>⑪天野川河口周辺エリア</a></li>
      <li><a>⑫長浜港周辺エリア</a></li>
      <li><a>⑬姉川河口～長浜エリア</a></li>
      <li><a>⑭丁野木川河口～奥びわスポーツの森</a></li>
      <li><a>⑮西野放水路河口～野田沼～余呉湖</a></li>
      <li><a>⑯藤ヶ崎～飯浦～西野の岬</a></li>
      <li><a>⑰塩津浜～月出ワンド</a></li>
      <li><a>⑱菅浦～黒土崎エリア</a></li>
      <li><a>⑲奥出湾～大浦湾エリア</a></li>
      <li><a>⑳二本松～海津大崎</a></li>
      <li><a>㉑大崎港～マキノ町海津</a></li>
      <li><a>㉒智内川河口周辺エリア</a></li>
      <li><a>㉓貫川内湖エリア</a></li>
      <li><a>㉔石田川河口～今津エリア</a></li>
      <li><a>㉕近江今津～木津浜エリア</a></li>
      <li><a>㉖外ヶ浜～源氏浜エリア</a></li>
      <li><a>㉗安曇川河口デルタ地帯</a></li>
      <li><a>㉘金丸川河口～鴨川河口</a></li>
      <li><a>㉙大溝漁港～乙女ヶ池エリア</a></li>
      <li><a>㉚白髭神社～鵜川河口エリア</a></li>
      <li><a>㉛北小松漁港～滝川河口エリア</a></li>
      <li><a>㉜近江舞子エリア</a></li>
      <li><a>㉝大谷川河口～松の浦～志賀駅エリア</a></li>
      <li><a>㉞木戸川～八谷戸川エリア</a></li>
      <li><a>㉟蓬莱駅～喜撰川エリア</a></li>
      <li><a>㊱喜撰川～和邇浜エリア</a></li>
      <li><a>㊲和邇川河口～小野エリア</a></li>
    </ul>  
  </div>      
</div>