<% breadcrumb :cookie %>
<div class="container">
  <h3 class="contents-title">Cookieポリシー</h3>
  <div class="posts-index-item">  
    <h4>Cookieポリシー</h4>
    <p>当サイトは、お客様のウェブサイト利用状況を分析し、または個々のお客様に対してカスタマイズされたサービス・広告を提供する等の目的のため、Cookieを使用して一定の情報を収集します。</p>
    <p>なお、Cookie により収集した情報のうち、当サイトが個人情報として取り扱う情報については、当サイトのプライバシーポリシーをご確認ください。</p>
    <br>
    <h4>Cookieについて</h4>
    <p>Cookieとはお客様のウェブサイト閲覧情報を、そのお客様のコンピューター（PCやスマートフォン、タブレットなどインターネット接続可能な機器）に記憶させる機能のことです。</p>
    <p>Cookieには、当サイトによって設定されるもの（ファーストパーティークッキー）と、当サイトと提携する第三者によって設定されるもの（サードパーティークッキー）があります。</p>
    <br>
    <h4>Cookieの利用目的</h4>
    <p>当サイトでは、Cookieを、お客様がウェブサイトを閲覧する際に同じ情報を繰り返し入力することがなくなるなど、お客様の利便性向上のために使用しています。</p>
    <p>当サイトでは、Cookieを使用して収集した情報を利用して、お客様のウェブサイトの利用状況（アクセス状況、トラフィック、ルーティング等）を分析し、ウェブサイト自体のパフォーマンス改善や、当サイトからお客様に提供するサービスの向上、改善のために使用することがあります。</p>
    <p>この他、Cookieは、提携する広告配信サービス提供会社における行動ターゲティング広告の配信に使用される場合があります。</p>
    <p>また、この分析にあたっては、主に以下のツールが利用され、ツール提供者に情報提供されることがあります。</p>
    <br>
    <ul>
      <li>Googleアナリティクス</li>
      <li>Googleアドセンス</li>
      <li>Amazonアソシエイト</li>
      <li>楽天アフィリエイト</li>
      <li>バリューコマースアフィリエイト</li>
    </ul>
    <br>
    <h4>Cookieの拒否方法</h4>
    <p>(1) 全てのCookieを拒否する方法</p>
    <p>お客様がブラウザの設定を変更することによりCookieを無効にすることが可能です。ただし、Cookieを無効にした場合は、一部のサービスが受けられない場合があります。</p>
    <p>Cookieの設定の変更方法については、各ブラウザの製造元へご確認ください。</p>
    <p>(4) 特定のCookieを拒否する方法</p>
    <p>広告配信サービス提供会社への情報提供を停止するための方法は各社へお問い合わせください。</p>
    <p>以下に記載する提携先の主な広告配信サービス提供会社各社のURLからでもご確認いただけます。</p>
    <br>
    <h4>Googleアナリティクス</h4>
    <p>当サイトはGoogleによるアクセス解析ツール「Googleアナリティクス」を利用しています。</p>
    <p>このGoogleアナリティクスはトラフィックデータの収集のためにCookieを使用しています。</p>
    <p>このトラフィックデータは匿名で収集されており、個人を特定するものではありません。</p>
    <p>この機能はCookieを無効にすることで収集を拒否することが出来ますので、お使いのブラウザの設定をご確認ください。</p>
    <p>Googleアナリティクスでデータが収集、処理される仕組み、Googleに収集される情報をお客様が管理する方法その他の情報については、リンク先（https://policies.google.com/technologies/partner-sites?hl=ja）をご確認ください。</p>
    <br>
    <h4>Googleアドセンス</h4>
    <p>当サイトは第三者配信の広告サービス「Google Adsense グーグルアドセンス」を利用しています。</p>
    <p>広告配信事業者はお客様の興味に応じた広告を表示するためにCookieを使用することがあります。</p>
    <p>お客様は、広告設定（https://adssettings.google.com/authenticated）でお客様の興味に応じた広告を無効にできます（または、www.aboutads.infoにアクセスすれば、お客様の興味に応じた広告に使われる第三者配信事業者の Cookie を無効にできます）。</p>
    <p>その他のCookieを無効にする設定およびGoogleアドセンスに関する詳細は広告 – ポリシーと規約 – Googleをご覧ください。</p>
    <br>
    <h4>Amazonアソシエイト</h4>
    <p>当サイトはAmazon.co.jpを宣伝しリンクすることによってサイトが紹介料を獲得できる手段を提供することを目的に設定されたアフィリエイトプログラムである、Amazonアソシエイト・プログラムの参加者です。</p>
    <p>第三者がコンテンツおよび宣伝を提供する際に訪問者から直接収集した情報を訪問者のブラウザのCookieに設定し、これを認識する場合があります。</p>
    <p>この機能はCookieを無効にすることで収集を拒否することが出来ますので、お使いのブラウザの設定をご確認ください。</p>
    <p>この規約に関しての詳細を確認する場合は、Amazonアソシエイト・プログラム運営規約をご覧ください。</p>
    <br>
    <h4>楽天アフィリエイト</h4>
    <p>当サイトは楽天グループを宣伝しリンクすることによってサイトが紹介料を獲得できる手段を提供することを目的に設定されたアフィリエイトプログラムである、楽天アフィリエイト・プログラムの参加者です。</p>
    <p>第三者がコンテンツおよび宣伝を提供する際に訪問者から直接収集した情報を訪問者のブラウザのCookieに設定し、これを認識する場合があります。</p>
    <p>この機能はCookieを無効にすることで収集を拒否することが出来ますので、お使いのブラウザの設定をご確認ください。</p>
    <p>Cookieを無効にする設定および楽天アフィリエイトに関する詳細は 楽天アフィリエイトガイドライン、 Cookieポリシー | 楽天グループ株式会社 をご覧ください。</p>
    <br>
    <h4>バリューコマースアフィリエイト</h4>
    <p>当サイトはYahoo!ショッピングを宣伝しリンクすることによってサイトが紹介料を獲得できる手段を提供することを目的に設定されたアフィリエイトプログラムである、バリューコマースアフィリエイト・プログラムの参加者です。</p>
    <p>第三者がコンテンツおよび宣伝を提供する際に訪問者から直接収集した情報を訪問者のブラウザのCookieに設定し、これを認識する場合があります。</p>
    <p>この機能はCookieを無効にすることで収集を拒否することが出来ますので、お使いのブラウザの設定をご確認ください。</p>
    <p>この規約に関しての詳細を確認する場合は、アフィリエイトプログラム - Yahoo!デベロッパーネットワークをご覧ください。</p>
    <br>
    <h4>お問い合わせ窓口</h4>
    <p>本Cookieに関するお問い合わせは、下記の窓口までお願いいたします。</p>
    <%= link_to("→お問い合わせ", "/contacts/new") %></li>
    <p>当サイト管理者：フィネススタイル</p>
    <br>
    <p>以上</p>
  </div>
</div>

<div class="go-home">
  <%= link_to("<ページの上へ戻る>", "#top") %>
</div>