<% breadcrumb :manners %>
<div class="container">
  <h3 class="contents-title">バス釣りマナー</h3>
  <div class="posts-index-item">  
    <h4>最低限のマナーとしてゴミは捨てない</h4>
      <ul>
        <li>釣り糸やワーム、使用済みパッケージ、食べ物や飲み物のゴミなどをフィールドに捨てるのはいけません。</li>
        <li>また喫煙者は携帯灰皿を利用し、吸い殻のポイ捨てはやめましょう。</li>
        <li>バスアングラーの最低限のマナーとしてゴミは捨てずに持ち帰りましょう。</li>
      </ul>
    <br>
    <h4>駐車禁止の場所には車を止めない</h4>
      <ul>
        <li>琵琶湖には住宅近くのポイントもあります。</li>
        <li>駐車禁止の場所には車を止めないようにしましょう。</li>
        <li>違法駐車が原因で立ち入り禁止になったポイントもあります。</li>
      </ul>
    <br>
    <h4>迷惑行為は絶対につつしみましょう</h4>
      <ul>
        <li>立ち入り禁止エリアでは釣りをしない。</li>
        <li>立ち入り禁止の漁港やエリア、河川の禁漁区など、釣りをしてはいけない場所への侵入は厳禁です。</li>
        <li>立ち入り禁止ポイントに設置されているフェンスを破っての侵入行為などは、マナー以前の問題ですので、絶対にやめましょう。</li>
      </ul>
    <br>
    <h4>他のアングラーとトラブルを起こさない</h4>
      <ul>
        <li>釣り場はあなた一人のものではありません。</li>
        <li>琵琶湖では他魚の釣りを楽しんでいる人も多くいます。</li>
        <li>釣り場では他の釣り人とトラブルを起こさないような釣りを心がけましょう。</li>
        <li>無意識にでも他の人の邪魔をした場合には素直に謝ることも大切です。</li>
      </ul>
  </div>
</div>

<div class="go-home">
  <%= link_to("<ページの上へ戻る>", "#top") %>
</div>