<% breadcrumb :profile %>
<div class="container">
  <h3 class="contents-title">運営者情報</h3>
  <div class="posts-index-item">  
    <h4>サイト運営者について</h4>
    <p>運営者名：フィネススタイル</p>
    <p>性別:男性</p>
    <p>バス釣り歴:30年ほど</p>
    <p>ホームフィールド:北湖東岸（彦根、長浜）</p>
    <p>好きな釣りスタイル:フィネススタイル（ライトリグ）</p>
    <p>好きなルアーメーカー:DSTYLE</p>
  </div>
</div>