<% content_for :title do %>
  琵琶湖バス釣りルール
<% end %>

<% breadcrumb :rule %>
<div class="container">
  <h3 class="contents-title">琵琶湖バス釣りルール</h3>
  <div class="posts-index-item">
    <h4>外来生物法の理解と遵守について</h4>
    <p>2005年6月1日、国によって外来生物法（特定外来生物による生態系等に係る被害の防止に関する法律）が施行され、ブラックバスと呼ばれるオオクチバス（フロリダバスを含む）、コクチバスが対象魚として指定されました。</p>
    <p>しかし、この法律ではバス釣りそのものとキャッチ&リリースは禁止されていません。</p>
    <p>つまり、普通にバス釣りをするのは問題はないのです。<p>
    <p>ただし、この外来生物法によって、特定外来生物に指定された生物を「飼うこと」「運搬すること」「売り買いすること」「人にあげたり、もらったりすること」「野外に放つこと」「輸入すること」が禁止されたことによって、ブラックバスの場合は移植放流は禁止となっています。</p>
    <p>また、琵琶湖は滋賀県独自の「琵琶湖ルール」も制定されており、遵守することが重要です。</p>
    <p>バスアングラーとしては、「生態系や農林水産業への被害を防止する」という外来生物法の目的を理解し、ルールを守って釣りを楽しむことが重要な時代になりました。</p>
    <br>
    <h4>外来魚のリリース禁止</h4>
    <p>滋賀県全域で、釣り上げたブラックバスやブルーギルはリリース（再放流）が禁止されています。</p>
    <p>湖岸の釣りスポットとなっている公園などに外来魚回収ボックスや回収いけすが設置されています。</p>
    <br>
    <h4>最低限のマナーとしてゴミは捨てない</h4>
    <p>釣り糸やワーム、使用済みパッケージ、食べ物や飲み物のゴミなどをフィールドに捨てるのはいけません。</p>
    <p>また喫煙者は携帯灰皿を利用し、吸い殻のポイ捨てはやめましょう。</p>
    <p>バスアングラーの最低限のマナーとしてゴミは捨てずに持ち帰りましょう。</p>
    <br>
    <h4>駐車禁止の場所には車を止めない</h4>
    <p>琵琶湖には住宅近くのポイントもあります。</p>
    <p>駐車禁止の場所には車を止めないようにしましょう。</p>
    <p>違法駐車が原因で立ち入り禁止になったポイントもあります。</p>
    <br>
    <h4>迷惑行為は絶対につつしみましょう</h4>
    <p>立ち入り禁止エリアでは釣りをしない。</p>
    <p>立ち入り禁止の漁港やエリア、河川の禁漁区など、釣りをしてはいけない場所への侵入は厳禁です。</p>
    <p>立ち入り禁止ポイントに設置されているフェンスを破っての侵入行為などは、マナー以前の問題ですので、絶対にやめましょう。</p>
    <br>
    <h4>他のアングラーとトラブルを起こさない</h4>
    <p>釣り場はあなた一人のものではありません。</p>
    <p>琵琶湖では他魚の釣りを楽しんでいる人も多くいます。</p>
    <p>釣り場では他の釣り人とトラブルを起こさないような釣りを心がけましょう。</p>
    <p>無意識にでも他の人の邪魔をした場合には素直に謝ることも大切です。</p>
  </div>
</div>

<div class="go-home">
  <%= link_to("<ページの上へ戻る>", "#top") %>
</div>
