<div class="top-main">
  <div class="top-message">
      <h3>広告掲載位置</h3>
  </div>
  <P>
    <iframe src="https://maps.gsi.go.jp/?hc=hic#12/35.397026/136.136055/&base=std&ls=std&disp=1&vs=c0g1j0h0k0l0u0t0z0r0s0m0f0"></iframe>
  </p>
  <div class="contents">
    <div class="contents-title">
      <h5>最新釣果写真</h5>
    </div>
    <% @posts.each do |post| %>
      <p>
        <div class="contents-image">
          <img src="<%= "/post_images/#{post.id}.jpg" %>">
        </div>
      </p>
    <% end %>
  </div>
</div>
