<div class="top-main">
  <div class="contents">
    <div class="top-image">
      <div class="top-message">
        <h1>Gyotan</h1>
        <h3>琵琶湖バス釣り釣果情報共有サイト</h3>
        <p>あなたの釣果情報がみんなの魚探に変わる！?</p>
      </div>
    </div>  
    <div class="contents-title">
      <h5>最新釣果写真</h5>
    </div>
    <% @posts.each do |post| %>
      <p>
        <div class="contents-image">
          <img src="<%= "/post_images/#{post.id}.jpg" %>">
        </div>
      </p>
    <% end %>
  </div>
</div>