<div class="main"> 
  <h1 class="form-heading">シーズン情報</h1>
  <ul class="seasonal-tab">
    <li><a href="/seasonal/spring">春バス釣り</a></li>
    <li><a href="/seasonal/summer">夏バス釣り</a></li>
    <li><a href="/seasonal/autumn">秋バス釣り</a></li>
    <li><a href="/seasonal/winter">冬バス釣り</a></li>
  </ul>
  <div class="seasonal">
    <div class="area">
      <div class="seasonal-image">
        <img src="https://cdn-ak.f.st-hatena.com/images/fotolife/F/FinesseStyle/20200414/20200414141054.jpg">
      </div>
      <div class="seasonal-main">
        <p> </p>
        <br>
        <h2>秋のバスを釣りについて</h2>
        <p> </p>
        <br>
        <p>真夏の高水温から、居心地が良い２１度前後の適水温まで下がると、ブラックバスの行動範囲は広がります。</p>
        <p>その事から、秋バスの居所は絞りにくく難しく感じる人が多くなります。</p>
        <p>冬に入る前の体力づくりで積極的にエサを追う時期と頭に入れて、ベイトのいる所にバスもいるというイメージで攻略法を組み立てましょう。</p>
        <p>ベイトを特定し、フィーディングエリアを見つけられれば、数釣りが楽しめる季節です。</p>
        <p> </p>
        <br>
        <h2>広く散らばる秋のバス</h2>
        <br>
        <p> </p>
        <p>水温が下がってくると、バスはシェードを離れて活発にベイトを追うようになります。</p>
        <p>フィールド全体が適水温のこの時期は、いろいろな場所にいることを想定しなければいけません。</p>
        <p>基本的な考え方は、ベイトが集まりやすい水通しの良い岬周りや岸寄りのカバーでエサとなる小魚や甲殻類が多い場所を狙うと良いです。</p>
        <p> </p>
        <p>１１月頃になり夜間の冷え込みが厳しくなってくると表層の水温が一気に下がり始めます。</p>
        <p>深場の温かい水より重くなってしまう事で生じる現象が、ターンオーバーです。</p>
        <p>表層の水と底層の水がある日いきなり入れ替わると、底層の沈殿物が巻き上げられて水質が悪くなります。</p>
        <p>こうなるとバスの活性が下がり、なかなか口を使わなくりります。</p>
        <p>このような状況では、少しでも水質の良い場所を探すべき。</p>
        <p>たとえ流れ込みでフレッシュな水が入ってくるポイントや、そもそも水深がないシャローエリアを攻めると良いです。</p>
        <p> </p>
        <br>
        <h2>晩秋のバス釣り</h2>
        <br>
        <p> </p>
        <p>秋が深まるにつれ水温が１５度を下回って来るとバスは冬を意識し始め、また、急激な水温低下によりバスの活性は低く動きも鈍くなります。</p>
        <p>シャロー寄りにいたバスは一段深いレンジの沈みモノにつき、天気が良い晴れた日は比較的水温が安定した日当たりの良いエリアで過ごします。</p>
        <p>さらに水温が下がると徐々に深いエリアへと移動して行きます。</p>
        <p> </p>
        <p> </p>
        <p>以上、秋のバス釣りについてでした。</p>
        <p>秋は、バスをさまざまな場所で釣る事がしやすい時期です。</p>
        <p>ですが、水温の低下に伴い難しい時期でもあります。</p>
        <p>今まで秋にバスを使った事がない人は是非、この記事を読んで試してみて下さい。釣れなかったバスが必ず釣れる様になりますよ。</p>
        <p> </p>
        <br>
      </div>   
    </div>  
  </div>      
</div>