<div class="main"> 
  <h1 class="form-heading">シーズン情報</h1>

  <ul class="tab">
    <li><a href="#spring">春バス釣り</a></li>
    <li><a href="#summer">夏バス釣り</a></li>
    <li><a href="#autumn">秋バス釣り</a></li>
    <li><a href="#winter">冬バス釣り</a></li>
  </ul>

  <div id="spring" class="area">
    <div class="seasonal-image">
      <img src="https://cdn-ak.f.st-hatena.com/images/fotolife/F/FinesseStyle/20200405/20200405145205.jpg">
    </div>
    <h2>春のバス釣りについて</h2>
    <p>春は、ブラックバスにとって大切なイベントである産卵の季節です。</p>
    <p>越冬場所の深場から浅場へと少しずつ移動を始め、産卵は日光がしっかりと当たる浅い場所で行われます。</p>
    <p>産卵前後のメスバスは、体力を付ける為に活発にエサを捕食するようになります。</p>
    <p>そのため、エサを求めたメスバスがシャローに寄るので、おかっぱりからでも狙いやすくなります。</p>
    <p>この時期は、ランカーサイズを狙えるので積極的にバス釣りに出掛けましょう！！</p>
    <br>
    <h2>プリスポーン（産卵前の魚）のバス釣り</h2>
    <p>プリスポーン時のメスバスは、水温が１０度以上になると越冬場所の深場から、徐々に浅場へと移動していきます。</p>
    <p>比較的大きなバスから移動が始まり、お腹を空かしたバスがルアーに反応してくれる時期で、ビックバスを手にするチャンスです。</p>
    <p>深場から浅場へ移動してくるルート上にあるバスの居場所を、コンタクトポイントといい、ここを狙えば大型がヒットする確率が高くなります。</p>
    <p>コンタクトポイントとは、スポーニング場所から見て沖にあるブレイクライン。</p>
    <p>そこにカバーやストラクチャー（岩や杭など）があればかなり有望です。</p>
    <p>この時期のメインベイトは小魚なので横の動きを出せるルアーで攻めてみましょう。</p>
    <br>
    <h2>ミッドスポーン（産卵中の魚）のバス釣り</h2>
    <p>水温が１４度を越える日が続いてくるとバスはスポーニング（産卵）を意識します。</p>
    <p>スポーニング中のメスバスは、エサを食べないモードに入っていてハードルアーには反応を見せません。</p>
    <p>産卵床を守るオスバスは、ルアーを産卵床に送り込むと排除しようとして口を使い釣りやすくなります。</p>
    <p>ただし、雄バスが釣られるとギルやコイに卵が食べられてしまうので、なるべく釣り上げたら直ぐにリリース（禁止されていない場合）を心掛けましょう。</p>
    <br>
    <h2>アフタースポーン（産卵後の魚）のバス釣り</h2>
    <p>ブラックバスが産卵行動をするタイミングには個体差があるので、春はプリスポーン、ミッドスポーン、アフタースポーンの３種類のバスを意識した釣りが必要になります。</p>
    <p>産卵行動を終えた直後のメスバスは体力を消耗しているので深場でじっくりしている事が多く、ルアーへの反応はよくありません。</p>
    <p>徐々に体力を取り戻したメスバスは再びルアーを追うようになり、さらに水温が上昇すれば浅場で釣れる夏パターンへ移行します。</p>
    <p>この時期は甲殻類や小魚が多い護岸周辺、水通しの良い岬、ブレイクが隣接する浅場など広範囲でヒットを期待出来ます。</p>
    <br>
    <h2>まとめ</h2>
    <p>以上、春のバス釣りについてでした。</p>
    <p>春は、スポーニングが絡みシャローに寄ったメスのデカバスを釣る事がしやすい時期です。</p>
    <p>今までデカバスを使った事がない人は是非、この記事を読んで実践してみて下さい。</p>
    <p>釣れなかったバスが必ず釣れる様になります。</p>
  </div>

  <div id="summer" class="area">
    <div class="seasonal-image">
      <img src="https://cdn-ak.f.st-hatena.com/images/fotolife/F/FinesseStyle/20200407/20200407194544.jpg">
    </div>
    <h2>梅雨のバス釣りについて</h2>
    <p>梅雨に入ると雨や曇りの日が多くなります。</p>
    <p>表層が雨でカーテンの様に遮られる為、バスへの人的プレッシャーが少なく活性が高いバスを釣る絶好のチャンスです。</p>
    <p>また、日照や気圧の影響でバスは浮きやすく行動しやすくなる為、トップウォータールアーが効果的になります。</p>
    <p>朝まずめや、夕まずめの薄暗い時間帯は表層にバスを誘い出すチャンス</p>
    <p>いきなり水面がさく裂するエキサイティングなバス釣りを楽しみましょう！！</p>
    <br>
    <h2>夏のバス釣りについて</h2>
    <p>ブラックバスは高水温期になると、日中の水温が上がる時間帯は活発に行動しなくなります。</p>
    <p>朝・夕まずめの比較的水温が低い時間帯のみ捕食行動をするようになります。</p>
    <p>また、水中の酸素量が少なくなる事から、バスの動きも制限され元気がありません。</p>
    <p>酸素量の多く低水温を維持しやすい流れ込みやウィードエリア、シェード（日陰）を形成する人工物や自然物の下、冷たい水が流れるディープエリアなど夏の好条件になりやすい場所を見つける事が大切な時期です。</p>
    <br>
    <h2>真夏にバスを釣る方法</h2>
    <p>真夏になると水温が２５度を超え、バスはより涼しい所に身を潜めます。</p>
    <p>狙い目は日陰（シェード）や、水の流れ込んでくる所。</p>
    <p>具体的な例としては、１日中、日が射さない樹木や橋脚などの影、浮かんでいるゴミやリリーパッドの下、葦やウィードの中、新しい水が流れ込んでくる場所、川なら瀬の周辺やメインチャネル（水の通り道）のディープエリアといったポイントが有望になります。</p>
    <br>
    <h2>まとめ</h2>
    <p>以上、夏のバス釣りについてでした。</p>
    <p>梅雨時期や夏の朝夕はトップルアーがおすすめです。</p>
    <p>今までトップでバスを使った事がない人は是非、この記事を読んで使ってみて下さい。</p>
    <p>エキサイティングなバス釣りを楽しみましょう！！</p>
  </div>

  <div id="autumn" class="area">
    <div class="seasonal-image">
      <img src="https://cdn-ak.f.st-hatena.com/images/fotolife/F/FinesseStyle/20200414/20200414141054.jpg">
    </div>
    <h2>秋のバスを釣りについて</h2>
    <p>真夏の高水温から、居心地が良い２１度前後の適水温まで下がると、ブラックバスの行動範囲は広がります。</p>
    <p>その事から、秋バスの居所は絞りにくく難しく感じる人が多くなります。</p>
    <p>冬に入る前の体力づくりで積極的にエサを追う時期と頭に入れて、ベイトのいる所にバスもいるというイメージで攻略法を組み立てましょう。</p>
    <p>ベイトを特定し、フィーディングエリアを見つけられれば、数釣りが楽しめる季節です。</p>
    <br>
    <h2>広く散らばる秋のバス</h2>
    <p>水温が下がってくると、バスはシェードを離れて活発にベイトを追うようになります。</p>
    <p>フィールド全体が適水温のこの時期は、いろいろな場所にいることを想定しなければいけません。</p>
    <p>基本的な考え方は、ベイトが集まりやすい水通しの良い岬周りや岸寄りのカバーでエサとなる小魚や甲殻類が多い場所を狙うと良いです。</p>
    <p>１１月頃になり夜間の冷え込みが厳しくなってくると表層の水温が一気に下がり始めます。</p>
    <p>深場の温かい水より重くなってしまう事で生じる現象が、ターンオーバーです。</p>
    <p>表層の水と底層の水がある日いきなり入れ替わると、底層の沈殿物が巻き上げられて水質が悪くなります。</p>
    <p>こうなるとバスの活性が下がり、なかなか口を使わなくりります。</p>
    <p>このような状況では、少しでも水質の良い場所を探すべき。</p>
    <p>たとえ流れ込みでフレッシュな水が入ってくるポイントや、そもそも水深がないシャローエリアを攻めると良いです。</p>
    <br>
    <h2>晩秋のバス釣り</h2>
    <p>秋が深まるにつれ水温が１５度を下回って来るとバスは冬を意識し始め、また、急激な水温低下によりバスの活性は低く動きも鈍くなります。</p>
    <p>シャロー寄りにいたバスは一段深いレンジの沈みモノにつき、天気が良い晴れた日は比較的水温が安定した日当たりの良いエリアで過ごします。</p>
    <p>さらに水温が下がると徐々に深いエリアへと移動して行きます。</p>
    <br>
    <h2>まとめ</h2>
    <p>以上、秋のバス釣りについてでした。</p>
    <p>秋は、バスをさまざまな場所で釣る事がしやすい時期です。</p>
    <p>ですが、水温の低下に伴い難しい時期でもあります。</p>
    <p>今まで秋にバスを使った事がない人は是非、この記事を読んで試してみて下さい。釣れなかったバスが必ず釣れる様になりますよ。</p>
  </div>

  <div id="winter" class="area">
    <div class="seasonal-image">
      <img src="https://cdn-ak.f.st-hatena.com/images/fotolife/F/FinesseStyle/20200414/20200414144516.jpg">
    </div>
    <h2>冬のバス釣りについて</h2>
    <p>冬のバス釣りにおいて１番のネックになるのは、寒さです。</p>
    <p>水温が１５度を下回るとバスは冬を意識し始め、温度変化の少ない水温が安定した場所へと移動し始めます。</p>
    <p>特に深場へ落ちる傾向にあり、ベイトもあまり追わなくなります。</p>
    <p>１年でもっとも水温が下がるこの時期は、寒さをいかにかわしていくかが釣果に大きく影響します。</p>
    <p>冬のバス釣りを攻略するうえで重要になるのは、水温の高さではなく、水温の安定です。</p>
    <p>より高水温で水温が安定している場所を探す事が、冬のバス釣りの基本となります。</p>
    <br>
    <h2>冬バスのいるポイント</h2>
    <p>冬バスは釣れないと思われがちですが、条件の良い場所に魚が集中している事が多く、必ず釣れるバスも存在するので諦めずに下記３つの条件を意識しながら良いポイントを探しましょう。</p>
    <p>①この時期風は、水温を低下させるので風が当たる場所は水温が安定しません。</p>
    <p>なので、この冷たい風を確実にプロテクトしてくれる事が、１つ目のポイントになります。</p>
    <p>②夏のパターンとは真逆となる水が動きにくい場所が良く、閉鎖的小規模エリアがよくなります。</p>
    <p>こういった場所は水が動きにくいことで水温が安定しやすいからです。</p>
    <p>③晴れた日中に日が当たるシャローは水温が上昇しやすいですが、夜になると冷え込みやすく水温変化が大きくなるので向きません。</p>  
    <br>
    <h2>冬バスを釣る方法</h2>
    <p>冬バスを釣る方法は、ゆっくりボトムを誘うか素早く動かして反射的に食わせるリアクションの釣りがセオリーになります。</p>
    <p>この時期のバスは、吸い込みが弱くなるのでボリュームのあるルアーやワームはおすすめしません。</p>
    <p>ボトムでゆっくり誘う事が出来るルアーがおすすめです。</p>
    <p>また、反射的に食わせる事が出来るダウンショットリグもおすすめです。ディープエリアでじっとしているバスにリアクションで誘う事が出来るのが大きな特徴です。</p>
    <br>
    <h2>冬の大型バス狙いについて</h2>
    <p>フィールドで最低水温になる１月、２月頃のバスは、深い所でじっとしていることが多く、代謝が落ちるためベイトもあまり食べなくなります。</p>
    <p>こんな時に期待したいのが、水温変化に比較的強い大型の一発です。</p>
    <p>大型のバスは、生きて行く為にある程度ベイトを食べる必要があり、比較的水温が上がりやすいシャローでベイトを捕食する時間帯があります。</p>
    <p>私の経験上一番のチャンスは、夕まずめの３０分程です。（薄暗くなるタイミング）</p>
    <p>この時間にベイトを求めた大型のバスがシャローによって捕食するタイミングがありません。</p>
    <p>このタイミングを絶対に逃さないようにしましょう！！</p>
    <p>冬はエビなどの甲殻類が冬眠するので、メインのエサが小魚になります。</p>
    <p>なので横にスローに動かせるミドストがデカバスを狙うのにおすすめのルアーです。</p>
    <br>
    <h2>まとめ</h2>
    <p>以上、冬のバス釣りについてでした。</p>
    <p>冬は、バスを釣る事が難しい時期です。</p>
    <p>水温が安定した場所を見つける事が、冬バスを釣るポイントです。</p>
    <p>大型のバスは水温に関係なく捕食をする必要があるので、フィーディングタイムの朝・夕まずめの大型バス狙いもおすすめです。</p>
    <p>今まで冬にバスを使った事がない人は是非、この記事を読んで考えながらバス釣りをして下さい。</p>
    <p>釣れなかった冬バスが必ず釣れる様になりますよ！！</p>
  </div>

  <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <script src="https://coco-factory.jp/ugokuweb/wp-content/themes/ugokuweb/data/5-4-1/js/5-4-1.js"></script>
</div>