<div class="main">  
  <h1 class="form-heading">シーズン情報</h1>
  <ul class="seasonal-tab">
    <li><a href="/seasonal/spring">春バス釣り</a></li>
    <li><a href="/seasonal/summer">夏バス釣り</a></li>
    <li><a href="/seasonal/autumn">秋バス釣り</a></li>
    <li><a href="/seasonal/winter">冬バス釣り</a></li>
  </ul>
  <div class="seasonal">
    <div class="area">
      <div class="seasonal-image">
        <img src="https://cdn-ak.f.st-hatena.com/images/fotolife/F/FinesseStyle/20200405/20200405145205.jpg">
      </div>
      <div class="seasonal-main">
        <p> </p>
        <br>
        <h2>春のバス釣りについて</h2>
        <br>
        <p> </p>
        <p>春は、ブラックバスにとって大切なイベントである産卵の時期です。</p>
        <p>越冬場所の深場から浅場へと少しずつ移動を始め、産卵は日光がしっかり当たる浅い場所で行われ</p>
        <p>産卵前後のメスバスは、体力を付ける為に活発にエサを捕食をします。</p>
        <p>エサを求めたメスバスがシャローに寄り、おかっぱりからでも狙いやすくなります。</p>
        <p>この時期は、自己記録更新やランカーサイズを狙えるので積極的にバス釣りに出掛けましょう！！</p>
        <p> </p>
        <br>
        <h2>プリスポーン（産卵前の魚）のバス釣り</h2>
        <br>
        <p> </p>
        <p>プリスポーン時のメスバスは、水温が１０度以上になると越冬場所の深場から、徐々に浅場へと移動していきます。</p>
        <p>比較的大きなバスから移動が始まり、お腹を空かしたバスがルアーに反応してくれる時期で、ビックバスを手にするチャンスです。</p>
        <p>深場から浅場へ移動してくるルート上にあるバスの居場所を、コンタクトポイントといい、ここを狙えば大型がヒットする確率が高くなります。</p>
        <p>コンタクトポイントとは、スポーニング場所から見て沖にあるブレイクライン。</p>
        <p>そこにカバーやストラクチャー（岩や杭など）があればかなり有望です。</p>
        <p>この時期のメインベイトは小魚なので横の動きを出せるルアーで攻めてみましょう。</p>
        <p> </p>
        <br>
        <h2>ミッドスポーン（産卵中の魚）のバス釣り</h2>
        <br>
        <p> </p>
        <p>水温が１４度を越える日が続いてくるとバスはスポーニング（産卵）を意識します。</p>
        <p>スポーニング中のメスバスは、エサを食べないモードに入っていてハードルアーには反応を見せません。</p>
        <p>産卵床を守るオスバスは、ルアーを産卵床に送り込むと排除しようとして口を使い釣りやすくなります。</p>
        <p>ただし、雄バスが釣られるとギルやコイに卵が食べられてしまうので、なるべく釣り上げたら直ぐにリリース（禁止されていない場合）を心掛けましょう。</p>
        <p> </p>
        <br>
        <h2>アフタースポーン（産卵後の魚）のバス釣り</h2>
        <br>
        <p> </p>
        <p>ブラックバスが産卵行動をするタイミングには個体差があるので、春はプリスポーン、ミッドスポーン、アフタースポーンの３種類のバスを意識して釣る事が必要になります。</p>
        <p>産卵行動を終えた直後のメスバスは体力を消耗しているので深場でじっくりしている事が多く、ルアーへの反応が鈍くなりがち。</p>
        <p>徐々に体力を取り戻したメスバスは再びルアーを追うようになり、さらに水温が上昇すれば浅場で釣れる夏のパターンへ移行します。</p>
        <p>この時期は甲殻類や小魚が多い護岸周辺、水通しの良い岬、ブレイクが隣接する浅場など広範囲でヒットを期待出来ます。</p>
        <p> </p>
        <p>以上、春のバス釣りについてでした。</p>
        <p>春は、スポーニングが絡みシャローに寄ったメスのデカバスを釣る事がしやすい時期です。今までデカバスを使った事がない人は是非、この記事を読んで実践してみて下さい。釣れなかったバスが必ず釣れる様になります。</p>
        <p> </p>
        <br>
      </div>
    </div>  
  </div>      
</div>