<div class="main">
  <h1 class="form-heading">シーズン情報</h1>
  <ul class="seasonal-tab">
    <li><a href="/seasonal/spring">春バス釣り</a></li>
    <li><a href="/seasonal/summer">夏バス釣り</a></li>
    <li><a href="/seasonal/autumn">秋バス釣り</a></li>
    <li><a href="/seasonal/winter">冬バス釣り</a></li>
  </ul>
  <div class="seasonal">
    <div class="area">
      <div class="seasonal-image">
        <img src="https://cdn-ak.f.st-hatena.com/images/fotolife/F/FinesseStyle/20200414/20200414144516.jpg">
      </div>
      <div class="seasonal-main">
        <p> </p>
        <h2>冬のバス釣りについて</h2>
        <p> </p>
        <p>冬のバス釣りにおいて１番のネックになるのは、寒さです。</p>
        <p>水温が１５度を下回るとバスは冬を意識し始め、温度変化の少ない水温が安定した場所へと移動し始めます。</p>
        <p>特に深場へ落ちる傾向にあり、ベイトもあまり追わなくなります。</p>
        <p>１年でもっとも水温が下がるこの時期は、寒さをいかにかわしていくかが釣果に大きく影響します。</p>
        <p>冬のバス釣りを攻略するうえで重要になるのは、水温の高さではなく、水温の安定です。</p>
        <p>より高水温で水温が安定している場所を探す事が、冬のバス釣りの基本となります。</p>
        <p> </p>
        <h2>冬バスのいるポイント</h2>
        <p> </p>
        <p>冬バスは釣れないと思われがちですが、条件の良い場所に魚が集中している事が多く、必ず釣れるバスも存在するので諦めずに下記３つの条件を意識しながら良いポイントを探しましょう。</p>
        <p>①この時期風は、水温を低下させるので風が当たる場所は水温が安定しません。</p>
        <p>なので、この冷たい風を確実にプロテクトしてくれる事が、１つ目のポイントになります。</p>
        <p>②夏のパターンとは真逆となる水が動きにくい場所が良く、閉鎖的小規模エリアがよくなります。</p>
        <p>こういった場所は水が動きにくいことで水温が安定しやすいからです。</p>
        <p>③晴れた日中に日が当たるシャローは水温が上昇しやすいですが、夜になると冷え込みやすく水温変化が大きくなるので向きません。</p>
        <p> </p>  
        <h2>冬バスを釣る方法</h2>
        <p> </p>
        <p>冬バスを釣る方法は、ゆっくりボトムを誘うか素早く動かして反射的に食わせるリアクションの釣りがセオリーになります。</p>
        <p>この時期のバスは、吸い込みが弱くなるのでボリュームのあるルアーやワームはおすすめしません。</p>
        <p>ボトムでゆっくり誘う事が出来るルアーがおすすめです。</p>
        <p>また、反射的に食わせる事が出来るダウンショットリグもおすすめです。ディープエリアでじっとしているバスにリアクションで誘う事が出来るのが大きな特徴です。</p>
        <p> </p>
        <h2>冬の大型バス狙いについて</h2>
        <p> </p>
        <p>フィールドで最低水温になる１月、２月頃のバスは、深い所でじっとしていることが多く、代謝が落ちるためベイトもあまり食べなくなります。</p>
        <p>こんな時に期待したいのが、水温変化に比較的強い大型の一発です。</p>
        <p>大型のバスは、生きて行く為にある程度ベイトを食べる必要があり、比較的水温が上がりやすいシャローでベイトを捕食する時間帯があります。</p>
        <p>私の経験上一番のチャンスは、夕まずめの３０分程です。（薄暗くなるタイミング）<br /></p>
        <p>この時間にベイトを求めた大型のバスがシャローによって捕食するタイミングがありません。</p>
        <p>このタイミングを絶対に逃さないようにしましょう！！</p>
        <p> </p>
        <p>冬はエビなどの甲殻類が冬眠するので、メインのエサが小魚になります。</p>
        <p>なので横にスローに動かせるミドストがデカバスを狙うのにおすすめのルアーです。 </p>
        <p> </p>
        <p>以上、冬のバス釣りについてでした。</p>
        <p>冬は、バスを釣る事が難しい時期です。</p>
        <p>水温が安定した場所を見つける事が、冬バスを釣るポイントです。</p>
        <p>大型のバスは水温に関係なく捕食をする必要があるので、フィーディングタイムの朝・夕まずめの大型バス狙いもおすすめです。</p>
        <p>今まで冬にバスを使った事がない人は是非、この記事を読んで考えながらバス釣りをして下さい。</p>
        <p>釣れなかった冬バスが必ず釣れる様になりますよ！！</p>
        <p> </p>
      </div>
    </div>  
  </div>      
</div>