<div class="main">
  <div class="container">
    <h1 class="form-heading">釣果一覧</h1>
    <% @posts.each do |post| %>
      <div class="posts-index-item">
        <div class="user-post-left">
          <%= image_tag post.image.url %>
        </div>
        <div class="user-post-right">
          <div class="post-user-name">
            <%= link_to(post.title,"/posts/#{post.id}") %>
          </div>
          <div class="user-post-datetime">
            <span>投稿日：</span>
            <%= link_to(post.created_at.strftime("%Y-%m-%d %H:%M"), "/posts/#{post.id}") %>
          </div>       
        </div>
      </div>
    <% end %>
  </div>
</div>
