/* blogs/index ================================ */
.blogs-index-item {
  padding: 20px 20px;
  background-color: white;
  overflow: auto;
  box-shadow: 0 2px 6px #c1ced7;
  border-radius: 5px 5px;
  margin-bottom: 20px;
}

/* blogs/show ================================ */
.blogs-show-item {
  padding: 30px;
  margin: 0 auto;
  background-color: white;
  box-shadow: 0 2px 6px #c1ced7;
  overflow: hidden;
}

.blog-time {
  color: #8899a6;
  margin-bottom: 10px;
}

.blog-title {
  font-size: 20px;
  border-bottom: 1px solid #c1ced7;
}

@media(max-width:670px) {
  .blogs-title {
    font-size: 12px;
  }
}

.blog-content {
  margin-top: 20px;
}