/* maps/index ================================ */

.tab{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 auto;
  border: 1px solid #dee7ec;
  border-bottom: none;
  border-radius: 10px 10px 0 0;
  box-shadow: 0 2px 6px #c1ced7;
  flex-wrap: wrap;
  margin-top: 20px;
}

@media(max-width: 670px) {
  .tab {
    border-radius: 0;
  }
}

.tab li{
  width: 20%;
  text-align: center;
}

@media(max-width: 670px) {
  .tab li {
    width: 20%;
  }
}

.tab li a{
  display: block;
  border-radius: 5px 5px 0 0;
  background: #f3f5f6;
  margin:0 1px;
  padding:10px 10px;
}

@media(max-width: 670px) {
  .tab li a{
    border-radius: 0;
  }
}

/*liにactiveクラスがついた時の形状*/
.tab li.active a{
  background:#fff;
}

/*--------------------------------------------------------------------*/

/*エリアの表示非表示と形状*/
.area {
  display: none;/*はじめは非表示*/
  opacity: 0;/*透過0*/
  background: #fff;
  padding: 50px 20px;
  width: 100%;
  margin: 0 auto;
  box-shadow: 0 2px 6px #c1ced7;
  border: 1px solid #dee7ec;
  border-radius: 0 0 10px 10px;
  font-size: 16px;
}

@media(max-width:1000px) {
  .area {
    padding: 15px;
  }
}

@media(max-width:670px) {
  .area {
    margin-bottom: 0px;
    border-radius: 0 0 ;
    border-bottom: none;
  }
}

/*areaにis-activeというクラスがついた時の形状*/
.area.is-active {
  display: block;/*表示*/
  animation-name: displayAnime; /*ふわっと表示させるためのアニメーション*/
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

@keyframes displayAnime{
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.map-title {
  font-size: 16px;
  border-bottom: 1px solid #c1ced7;
  margin-bottom: 10px;
}

.map-season {
  float: right;
}

.weather__content--report {
  font-size: 14px;
  width: 50%;
  text-align: center;
  display: inline-block;
  margin: 10px 0;
}
