/* users/index ================================ */
.users-index {
  width: 600px;
  margin: 0 auto;
}

@media(max-width: 670px) {
  .users-index {
    width: 100%;
    margin: 0 auto;
  }
}

.users-index-item {
  padding: 10px;
  text-align: center;
  width: 25%;
  height: 200px;
  float: left;
  font-size: 16px;
}

@media(max-width: 1000px) {
  .users-index-item {
    width: 50%;
  }
}

.users-index-item a {
  color: rgb(23, 167, 233);
}

@media(max-width: 670px) {
  .users-index-item a {
    font-size: 16px;
  }
}

.user-left img {
  width: 100px;
  height: 100px;
  border-radius: 40%;
  box-shadow: 0 2px 6px #c1ced7;
  object-fit: cover;
}

@media(max-width: 670px) {
  .user-left img {
    width: 150px;
    height: 150px;
  }
}

.user-right {
  font-size: 16px;
}

@media(max-width: 670px) {
  .user-right {
    font-weight: bold;
    font-size: 16px;
  }
}

/* users/show ================================ */
.user {
  margin-bottom: 20px;
  text-align: center;
}

.user img {
  width: 80px;
  height: 80px;
  border-radius: 40%;
  box-shadow: 0 2px 6px #c1ced7;
  margin: 20px 0 10px;
  object-fit: cover;
}

.user h2 {
  font-size: 16px;
  font-weight: 600;
  line-height: 1.2;
}

.user p {
  font-size: 16px;
  margin-bottom: 15px;
}

.user a {
  color: #8899a6;
  text-decoration: underline;
}

.user-name-side a {
  padding-left: 10px;
  line-height: 5px;

}

.user-post-left img {
  width: 150px;
  height: 100px;
  float: left;
}

.user-tabs {
  margin-top: 40px;
  background-color: white;
  overflow: hidden;
  box-shadow: 0 2px 6px #c1ced7;
}

.user-tabs li {
  float: left;
}

.user-tabs li.active {
  border-bottom: 2px solid blue;
}

.user-tabs li.active a {
  color: #57575f;
}

.user-tabs a {
  display: inline-block;
  padding: 16px 30px;
  color: #afb6bf;
}

.user-edit a{
  color: rgb(23, 167, 233);
}

/* users/new, users/edit ================================ */
.users-form input {
  margin-bottom: 15px;
}

.profile-link {
  font-family: "FontAwesome";
  display: inline-block;
  padding-right: 10px;
  /*Twitter*/
  .fa-twitter{color:#1da1f2;}
  /*Facebook*/
  .fa-youtube{color:#e1306c;}
  /*instagram*/
  .fa-instagram{color:#e1306c;}
}
